[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
autopep8 = "*"
ipykernel = "*"

[packages]
src = {editable = true, path = "./"}
numpy = "*"                         # ideally should be "==1.15.1", as per diskprediction_local upstream requirements.txt, but dask-ml requires >=1.17. so need to change to "*" for dev purpose
scipy = "*"                         # ideally should be "==1.1.0", as per diskprediction_local upstream requirements.txt, but umap-learn requires >=1.2.0 so need to change to "*" for dev purpose
pandas = "*"
matplotlib = "*"
seaborn = "*"
plotly = "*"
joblib = "*"
scikit-learn = "*"                  # ideally should be "==1.19.2", as per diskprediction_local upstream requirements.txt, but dask-ml requires >=0.21 so need to change to "*" for dev purpose
umap-learn = "*"
xgboost = "*"
s3fs = "*"
partd = "*"
pyarrow = "*"
dask = "*"
distributed = "*"
dask-ml = "*"
dask-xgboost = "*"
mlflow = "*"
fbprophet = "*"
tqdm = "*"
statsmodels = "*"

[requires]
python_version = "3.6"
