[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
hypothesis = "*"
pytest-timeout = "*"
pytest-cov = "*"
pylint = "*"
autopep8 = "*"

[packages]
numpy = "*"
pandas = "*"
sklearn = "*"
jupyter = "*"
matplotlib = "*"
seaborn = "*"
s3fs = "*"
dask = "*"
dask-ml = "*"
dask-xgboost = "*"
plotly = "*"
umap-learn = "*"
rgf-python = "*"
xgboost = "*"
lifelines = "*"
partd = "*"
jupyterlab = "*"
jupyterlab-git = "*"
jupyterlab-code-formatter = "*"
pyarrow = "*"

[requires]
python_version = "3.7"

[pipenv]
allow_prereleases = true
